<!Doctype html>
</body>
<footer id="footer">
    <a href="https://twitter.com/E_U13_E" class="uk-icon-button uk-margin-right" uk-icon="twitter"></a>
    <a href="https://facebook.com" class="uk-icon-button  uk-margin-right" uk-icon="facebook"></a>
    <a href="https://www.youtube.com/channel/UCXh2xZ5p5AayT2fy_RPh8Kg?view_as=subscriber" class="uk-icon-button" uk-icon="youtube"></a>
</footer>
</html> 