<%include _header%>
<div class="God">
    <div class="slider">
        <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true animation: scale; ratio: 8:3; autoplay: true" >      
            <ul class="uk-slider-items uk-grid" >
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="https://yugiohprices.com/img/banner.png" alt=""/>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Yu-Gi-Oh Prices</h3>
                            <p class="uk-margin-remove">The best place to check your prices</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="https://i.ytimg.com/vi/FGFM3oa_WeI/maxresdefault.jpg" alt=""/>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Dueling Nexus</h3>
                            <p class="uk-margin-remove">Play with your friends</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="https://metropolismca.com/wp-content/uploads/2016/04/Pokemon-TCG-Black-White-Gets-Team-Plasma-Cards-1200x565.jpg" alt=""/>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Pokemon</h3>
                            <p class="uk-margin-remove">Now is a Trading card game</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="https://unboxingtcg.cl/wp-content/uploads/2017/09/logo-dragon-ball-super-tcg.png" alt=""/>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Dragon ball super</h3>
                            <p class="uk-margin-remove">The most innovative game of cards in this year</p>
                        </div>
                    </div>
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </div>
    <br/>
    <div class="mini-card">
            <%card.forEach((card) =>{%>
                <div class="mini-todo">
                    <h2><%=card.name_card%></h2>
                    <a href="/card/<%=card.name_card%>"><img class="img-fs" data-src="/images/<%=card._id%>.<%=card.extension%>" uk-img/></a>
                </div>
            <%}) %>
    </div>
    <div class="page">
        <%%>
        <%%>
    </div>

</div>





<%include _footer%>
