<%include _header%>
<div class="slider">
    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true animation: scale; ratio: 8:3; autoplay: true" >      
    <ul class="uk-slider-items uk-grid" >
                <li class="uk-width-3-4">
                        <div class="uk-panel">
                            <img src="https://www.telesurtv.net/__export/1486144697512/sites/telesur/img/news/2017/02/03/2-universo-componentes.jpg" alt="">
                            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                    <h3 class="uk-margin-remove">Bottom</h3>
                                    <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                        </div>
                    </li>
            <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="https://www.telesurtv.net/__export/1486144697512/sites/telesur/img/news/2017/02/03/2-universo-componentes.jpg" alt="">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                <h3 class="uk-margin-remove">Bottom</h3>
                                <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                    </div>
                </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="https://www.telesurtv.net/__export/1486144697512/sites/telesur/img/news/2017/02/03/2-universo-componentes.jpg" alt="">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Bottom</h3>
                            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="https://www.telesurtv.net/__export/1486144697512/sites/telesur/img/news/2017/02/03/2-universo-componentes.jpg" alt="">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                <h3 class="uk-margin-remove">Bottom</h3>
                                <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                    </div>
                </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>
</div>
<h1> search bar </h1>
<img data-src="/public/images/<%= currentcard._id%>.<%=currentcard.extension%>" width="50px" height="50px" alt="" uk-img>
<%include _footer%>